/*
 * GitPHP 0.2.6 alternative blue skin
 * (c) Tanguy Pruvot 2011-2012
 *
 ****************************************************************************/

/* Reset all CSS Attributes
 * -------------------------------------------------------------------------
 * Based on http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, menu, 
article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General
---------------------------------------------------------------------------- */

body {
	font-family: "Monaco", "Courier New", monospace;
	font-size: 12px;
	margin: 0;
	background-color: #fff;
	color: #000000;
}

a:link, a:visited {
	color: #007;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

i {
	font-style: normal;
}

td, th {
	padding: 2px 3px;
}

/* Page Header
---------------------------------------------------------------------------- */

.page_header {
	background: #cfcfcf url(blueskin/page_header.png) repeat-x 0 0;
	height: 3.4em;
	line-height: 3.4em;
	position: relative;
	padding: 0 2px;
	margin-bottom: 10px;
	border-bottom: 1px solid #aaa;
}

.page_header a:link, .page_header a:visited {
	color: #000;
	background: #eee;
	text-decoration: none;
	padding: 3px;
}

.page_header a:hover {
	background: #bbb;
	padding: 3px;
}

.page_header a:first-child {
	background: transparent;
}

.page_header img.logo {
	float: right;
	padding: 0.7em 1.0em;
	border: 0;
}

/* Page Footer
---------------------------------------------------------------------------- */

.page_footer {
	height: 43px;
	line-height: 45px;
	background: #4386ba url(blueskin/page_footer.png) repeat-x 0 0;
	padding: 0 30px;
	margin-top: 15px;
	clear:both;
}

.page_footer .timestamp {
	color: #fff;
}

.page_footer a {
	padding-top: 30px;
}

.page_footer_text {
	color: #fff;
	display: inline;
}

a.rss_logo {
	float: right;
	padding: 3px;
	width: 35px;
	line-height: 10px;
	border: 1px solid;
	border-color: #fcc7a5 #7d3302 #3e1a01 #ff954e;
	color: #ffffff;
	background-color: #ff6600;
	font-weight: 400;
	font-family: sans-serif;
	font-size: 100%;
	zoom: 85%;
	text-align: center;
	text-decoration: none;
	margin-top: 24px;
	margin-left: 5px;
}

a.rss_logo:hover {
	background-color: #ee5500;
}

/* Elements
---------------------------------------------------------------------------- */

table.projectList,
table.shortlog,
table.headlist,
table.tree,
table.tagTable,
table.filelist,
.commit_search {
	/* margin: 0 auto 15px auto; */
	border-right: 1px solid #d8d8d8;
}

table.headlist,
table.filelist,
table.shortlog {
	border-bottom: 1px solid #ccc;
	margin-bottom: 1px;
}

table.projectList td,
table.shortlog td,
table.headlist td,
table.tree td,
table.tagTable td,
table.filelist td {
	padding-left: 4px;
	padding-right: 4px;
}

.shortlog th,
.tree th,
.commit_search th {
	font-weight: normal;
}

.projectList tr,
.shortlog tr,
.tree tr,
.commit_search tr {
	background: #eaeaea;
	text-align: left;
}

.projectList tr.dark, .projectList tr.light,
.shortlog tr.dark, .shortlog tr.light,
.tree tr.dark, .tree tr.light,
.commit_search tr.dark, .commit_search tr.light {
	/*height: 2.5em;*/
	border-bottom: 1px solid #f0f0f0;
}

table tr.dark {
	background: #f3f3f9;
}
table tr.light {
	background: #fafafa;
}

.shortlog tr.hoverParent td a span.commit_title,
.shortlog tr.hoverParent td a span.merge_title {
	/* This class is used in shortlog to hilight commit's parents */
	color: #00F;
	background-color: #e3e3e3;
}

.shortlog tr:hover {
	background-color: #e3e3e3;
}

/* Shortlog History Blocs (clast,cinside,cmerge) */
.shortlog tr.clast {
	border-bottom: 1px dotted silver;
}

div.index_header {
	margin-left: 4px;
}

div.projectSearch {
	width: 327px;
	top: 44px;
	right: 0px;
	position: absolute;
	clear: both;
}

table.projectList {
	margin-top: 10px;
}

.projectList tr.categoryRow,
.projectList tr.projectHeader {
	color: #111;
	text-shadow: #fff -1px -1px;
	font-family: arial, Helvetica, freesans, clean, sans-serif;
	font-size: 10pt;
	background: #F0F0F0;
	border-bottom: 1px solid #D8D8D8;
	background: #efefef url(blueskin/table_row.png) repeat-x 0 0;
}

tr.categoryRow th {
	padding: 4px;
	padding-bottom: 2px;
}

tr.projectHeader th {
	text-align: left;
	padding: 4px;
}

tr.projectHeader th.actions {
	text-align: right;
}

th.categoryName {
	padding: 2px 0;
	color: #222;
	text-shadow: none;
	font-size: 9pt;
	text-align: left;
}

td.projectDescription {
	display: block;
	overflow-x: hidden;
}

th .header {
	background: transparent;
	border: 0;
	padding: 0;
}

.tree {
	width: 100%;
	margin: 0;
}

.commit_search {
	background: #eaeaea;
}

.history,
.page_nav,
.search {
	margin: 0 auto 6px auto;
}

div.page_nav {
	margin-top: -6px;
	margin-left: 4px;
	line-height: 14px;
}

div.page_path {
	margin: 15px 2px 0 0;
}

div.search {
	margin: 0 auto 10px auto;
	top: 40px;
}

div.title {
	padding: 5px;
	background-color: #F0F0F0;
	border: 0;
	border-bottom: 1px solid #D8D8D8;
}

/* Full log, missing class to target only the commit titles */
div.title a.title {
	font-weight: bold;
}

div.title a.title span.age {
	font-weight: normal;
	font-family: arial, Helvetica, freesans, clean, sans-serif;
	font-size: 85%;
}

div.page_path {
	/* the current file path in most views  */
	font-family: monospace;
	color: #333399;
	background-color: #eee;
	border-bottom: 1px solid #bbb;
	padding: 4px;
}
div.page_path a {
	color: #0000AA;
}

div.page_path a:hover {
	background-color: #ddd;
	text-decoration: none;
}

.projects_list,
.heads,
.tags {
	background: #f0f0f0;
	color: #545454;
	border: 1px solid #d8d8d8;
	padding: 5px;
	margin: 0 auto 15px auto;
}

.header {
	margin: 0 auto 15px auto;
	background: #eaf2f5;
	border: 1px solid #bedce7;
	padding: 5px;
}

.header .age {
	float: left;
	color: #000;
	font-weight: bold;
	width: 10em;
}

.title_text {
	background: #eaf2f5;
	border: 1px solid #bedce7;
	border-top: 0;
	padding: 5px;
	margin: 0 auto 0 auto;
}

.title_text em {
	font-style: normal;
}

.log_body {
	background: #eaf2f5;
	border: 1px solid #bedce7;
	border-top: 0;
	padding: 5px;
	margin: 0 auto 8px auto;
}

.page_body {
	line-height: 1.4em;
	background: #f8f8ff;
	border: 1px solid #d8d8d8;
	padding: 5px;
	margin: 15px auto auto auto;
}

.diff_tree {
	background: #f0f0f0;
	border: 1px solid #d8d8d8;
	padding: 5px;
	margin: 0 auto 15px auto;
}

.author_date {
	background: #f0f0f0;
	border: 1px solid #d8d8d8;
	padding: 5px;
	margin: 0 auto 15px auto;
}

td.projectAge em {
	font-style: normal;
	color: #444;
}

td.projectAge span.agehighlight strong em {
	font-style: normal;
	font-weight: normal;
	color: #292;
}

td.projectAge span.agehighlight em {
	font-style: normal;
	color: #000;
}

table td em {
/*	font-family: Helvetica; */
	font-style: normal;
	color: #444;
}

div.log_link {
	width: 180px;
	padding: 0;
	margin: -4px 0;
	font-size: 75%;
}

div.log_link a {
	font-family: arial, Helvetica, freesans, clean, sans-serif;
}


/* Commit message and signed off / Bug urls */

span.signedOffBy {
	color: gray;
}

span.changeId {
	color: darkGreen;
}

a.buglink {
	color: navy;
	text-decoration: none;
}

a.buglink:hover {
	text-decoration: underline;
	color: darkGreen;
}

/* ShortLog Commit titles */

td span.commit_title a {
	color: #22C;
}

td span.merge_title {
	color: #30D;
}

/* Refs (Tags)
---------------------------------------------------------------------------- */

span.refs span {
	color: #000;
	padding: 0px 3px;
	font-weight: normal;
	border: 1px solid;
	background-color: #ffaaff;
	border-color: #ffccff #ff00ee #ff00ee #ffccff;
	font-size: 75%;
	font-family: Arial, Tahoma, Helvetica, arial, freesans, clean, sans-serif;
}

span.refs span.ref {
	background-color: #aaaaff;
	border-color: #ccccff #0033cc #0033cc #ccccff;
}

span.refs span.tag {
	background-color: #ffffaa;
	border-color: #ffffcc #dccd00 #dccd00 #ffffcc;
}

span.refs span.head {
	background-color: #aaffaa;
	border-color: #ccffcc #00cc33 #00cc33 #ccffcc;
}

span.refs span.remote {
	/* remote head badge (style overrides head too) */
	background-color: #aaddff;
	border-color: #ccddff #0099ee #0099ee #ccddff;
}

/* Diffs
---------------------------------------------------------------------------- */

.patchset {
	overflow: auto;
}

.chunk_header {
	background: #eaf2f5;
	color: #999;
}

/* Geshi Diff Files files / red / green  */
#blobData span.re3,
#blobData span.re4 {
	background: #ddd;
	color: #008;
}

#blobData span.re7 {
	background: #ffdddd;
	color: #611;
}
#blobData span.re8 {
	background: #ddffdd;
	color: #131;
}

/* Age
---------------------------------------------------------------------------- */

/* noage: "No commits" */
.project_list td.noage {
	color: #cdcdcd;
}

/* age2: 60*60*24*2 <= age */
.project_list td.age2, .blame td.age2 {
	color: #545454;
}

/* age1: 60*60*2 <= age < 60*60*24*2 */
.project_list td.age1 {
	color: #009900;
}

/* age0: age < 60*60*2 */
.project_list td.age0 {
	color: #009900;
	font-weight: bold;
}

/* File status
---------------------------------------------------------------------------- */

.diff_tree span.file_status.new {
	color: #008000;
}

table.diff_tree span.file_status.deleted {
	color: #c00000;
}

table.diff_tree span.file_status.moved,
table.diff_tree span.file_status.mode_chnge {
	color: #545454;
}

table.diff_tree span.file_status.copied {
  color: #70a070;
}

span.cntrl {
	border: dashed #aaaaaa;
	border-width: 1px;
	padding: 0px 2px 0px 2px;
	margin:  0px 2px 0px 2px;
}

span.match {
	background: #aaffaa;
	color: #000;
}

td.error {
	color: red;
	background: yellow;
}


/*
 * Diff display
 */
div.pre {
	/* the entire diff output block */
	font-family: monospace;
	font-size: 12px;
}

div.diff_info {
	/* the from -> to file header */
	font-family: monospace;
	color: #000099;
	background-color: #eee;
	border-bottom: 1px solid #bbb;
	padding: 2px;
}

.diffplus {
	color: #008800;
}

.diffminus {
	color: #cc0000;
}

.diffat {
	color: #990099;
}

/*
 * side-by-side-diff diff
 */
.diffTable {
	font-family: monospace;
}

.diffTable td.diff-left {
	border-right: 1px solid #d9d8d1;
}

.diffTable td {
	font-size: 11px;
	line-height: 11px;
}

/* Untouched code */

.diffTable tr.light-code td {
	background-color: #fff;
}
.diffTable tr.light-code:hover td {
	background-color: #ededed;
}
.diffTable tr.dark-code td {
	background-color: #fafafa;
}
.diffTable tr.dark-code:hover td {
	background-color: #ededed;
}


/* Deleted (red) */
.diffTable tr.diff-deleted td.diff-left {
	background-color: #FFDDDD;
}
.diffTable tr.diff-deleted td.diff-right {
	background-color: #ddd;
}
.diffTable tr.light-codedel:hover td.diff-left {
	background-color: #F4BFBF;
}
.diffTable tr.dark-codedel td.diff-left {
	background-color: #FFD5D5;
}
.diffTable tr.dark-codedel:hover td.diff-left {
	background-color: #F4BFBF;
}

/* Added (green) */
.diffTable tr.diff-added td.diff-left{
	background-color: #ddd;
}
.diffTable tr.diff-added td.diff-right{
	background-color: #C1FFC1;
}
.diffTable tr.light-codeadd:hover td.diff-right {
	background-color: #B1EFB1;
}
.diffTable tr.dark-codeadd td.diff-right {
	background-color: #B9F9B9;
}
.diffTable tr.dark-codeadd:hover td.diff-right {
	background-color: #B1EFB1;
}

/* Modified (red/green) */
.diffTable tr.light-codemod td.diff-left {
	background-color: #FFDDDD;
}
.diffTable tr.light-codemod:hover td.diff-left {
	background-color: #F4BFBF;
}
.diffTable tr.dark-codemod td.diff-left {
	background-color: #FFD5D5;
}
.diffTable tr.dark-codemod:hover td.diff-left {
	background-color: #F4BFBF;
}

.diffTable tr.light-codemod td.diff-right {
	background-color: #C1FFC1;
}
.diffTable tr.light-codemod:hover td.diff-right {
	background-color: #B1EFB1;
}
.diffTable tr.dark-codemod td.diff-right {
	background-color: #B9F9B9;
}
.diffTable tr.dark-codemod:hover td.diff-right {
	background-color: #B1EFB1;
}
div.commit_tip {
	font-family: sans-serif;
	font-size: 10px;
}

/*
 * side-by-side commitdiff
 */
div.commitDiffSBS
{
	width: 100%;
	border-top: 2px solid #edece6;
}

div.commitDiffSBS div.SBSTOC
{
	float: left;
	width: 19%;
	word-wrap: break-word;
	background-color: #ffffff;
	border-bottom: 1px solid #edece6;
}

div.commitDiffSBS div.SBSTOC a
{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 10px;
}

div.commitDiffSBS div.SBSTOC ul
{
	margin-left: 8px;
	padding-left: 8px;
}

div.commitDiffSBS div.SBSTOC .listcount
{
	list-style-type: none;
}

div.commitDiffSBS div.SBSTOC .activeItem
{
	background-color: #edece6;
}

div.commitDiffSBS .SBSContent
{
	float: right;
	width: 80%;
	border-left: 1px solid #edece6;
}

div.commitDiffSBS .SBSFooter
{
	clear: both;
}

#ajaxedCode h1,#ajaxedCode h2,#ajaxedCode h3,#ajaxedCode h4,#ajaxedCode h5,#ajaxedCode h6{border:0!important;}
#ajaxedCode h1{font-size:170%!important;border-top:4px solid #aaa!important;padding-top:.5em!important;margin-top:1.5em!important;}
#ajaxedCode h1:first-child{margin-top:0!important;padding-top:.25em!important;border-top:none!important;}
#ajaxedCode h2{font-size:150%!important;margin-top:1.5em!important;border-top:4px solid #e0e0e0!important;padding-top:.5em!important;}
#ajaxedCode h3{margin-top:1em!important;}
#ajaxedCode p{margin:1em 0!important;line-height:1.5em!important;}
#ajaxedCode ul{margin:1em 0 1em 2em!important;}
#ajaxedCode ol{margin:1em 0 1em 2em!important;}
#ajaxedCode ul ul,#ajaxedCode ul ol,#ajaxedCode ol ol,#ajaxedCode ol ul{margin-top:0!important;margin-bottom:0!important;}
#ajaxedCode blockquote{margin:1em 0!important;border-left:5px solid #ddd!important;padding-left:.6em!important;color:#555!important;}
#ajaxedCode dt{font-weight:bold!important;margin-left:1em!important;}
#ajaxedCode dd{margin-left:2em!important;margin-bottom:1em!important;}
#ajaxedCode table{margin:1em 0!important;}
#ajaxedCode table th{border-bottom:1px solid #bbb!important;padding:.2em 1em!important;}
#ajaxedCode table td{border-bottom:1px solid #ddd!important;padding:.2em 1em!important;}
#ajaxedCode pre{margin:1em 0!important;font-size:90%!important;background-color:#f8f8ff!important;border:1px solid #dedede!important;padding:.5em!important;line-height:1.5em!important;color:#444!important;overflow:auto!important;}
#ajaxedCode pre code{padding:0!important;font-size:100%!important;background-color:#f8f8ff!important;border:none!important;}
#ajaxedCode code{font-size:90%!important;background-color:#f8f8ff!important;color:#444!important;padding:0 .2em!important;border:1px solid #dedede!important;}
#ajaxedCode pre.console{margin:1em 0!important;font-size:90%!important;background-color:black!important;padding:.5em!important;line-height:1.5em!important;color:white!important;}
#ajaxedCode pre.console code{padding:0!important;font-size:100%!important;background-color:black!important;border:none!important;color:white!important;}
#ajaxedCode pre.console span{color:#888!important;}
#ajaxedCode pre.console span.command{color:yellow!important;}
