<?php
/**
 * GitPHP Config file
 *
 * Copy this example file to config/gitphp.conf.php
 *
 * @author Christopher Han <xiphux@gmail.com>
 * @copyright Copyright (c) 2010 Christopher Han
 * @package GitPHP
 * @subpackage Config
 */

/*
 * stylesheet
 * Name of skin (must be in /css folder)
 */
//$gitphp_conf['stylesheet'] = "gitweb.css";

/*
 * projectroot
 * Full directory on server where projects are located
 */
//$gitphp_conf['projectroot'] = '/pub/gitprojects/';

/*
 * bareonly
 * Include working copies (projet/.git) in projects list
 */
//$gitphp_conf['bareonly'] = false;

/*
 * reposupport
 * List projects in .repo folders (android source)
 */
//$gitphp_conf['reposupport'] = false;

/*
 * recursive listing (ie android repo)
 * Search in subfolders to scan projects list
 */
//$gitphp_conf['subfolder_levels'] = 1;


/*
 * cache
 * Turns on template caching. If in doubt, leave it off
 * You will need to create a directory 'cache' and make it
 * writable by the server
 */
//$gitphp_conf['cache'] = true;

/*
 * objectcache
 * Turns on object caching.  This caches immutable pieces of
 * data from the git repository.  You will need to create a
 * directory 'cache' and make it writable by the server.
 * This can be used in place of the template cache, or
 * in addition to it for the maximum benefit.
 */
//$gitphp_conf['objectcache'] = true;

/* Script added (in Blob and Blame views) at end of html file.
 * Remove all bold,italic attributes, to fix line numbers height
 */
$gitphp_conf['fixupjs'] = <<<EOT

    if (!(jQuery.browser.mozilla))
    jQuery('pre.de1 span').each( function() {
        var el = jQuery(this);
        if (el.css('font-weight') != 'normal') {
          el.css({ 'font-weight':'normal',
                   'text-shadow':'#f0f0f0 1px 1px 1px'
          }); //chrome line height
        }
        if (el.css('font-style') == 'italic') {
          el.css('font-style', 'normal');
        }
    });
EOT;

/*
 * compat
 * Set this to true to turn on compatibility mode.  This will cause
 * GitPHP to rely more on the git executable for loading data,
 * which will bypass some of the limitations of PHP at the expense
 * of performance.
 * Turn this on if you are experiencing issues viewing data for
 * your projects.
 */
$gitphp_conf['compat'] = false;

